.main {
  display: flex;
  justify-content: center;
  list-style: none;
  border-radius: 1vw;
  padding: 1vw;
  background-color: whitesmoke;
  min-width: max-content;
  text-shadow: black 1px 0 10px;
  gap: 15px;
  margin-bottom: 0;
}
