.list {
  max-width: 1000px;
  background-color: white;
  border-radius: 15px;
  padding: 1vw;
  min-width: min-content;
}

@media (max-width: 500px) {
  .list {
    button {
      padding: 0;
      height: 28px;
    }

    label {
      padding-inline: 0;
    }
  }
}
