.main {
  display: flex;
  flex-direction: column;
  padding-inline: 20vw;
  gap:5px;
}


@media (max-width: 1000px) {
  .main {
    padding-inline: 10vw;
  }
}

@media (max-width: 600px) {
  .main {
    padding-inline: 20px;
    * {
      font-size: 11px;
    }
  }
}